{% extends 'material/frontend/base_module.html' %}

{% block content %}

{% for obj in object_list %}

{{obj.id}}<br/>
{{obj.title}}<br/>
{{obj.content}}<br/>
{{obj.timestamp}}

<br/><br/>
{% endfor %}

{% endblock %}