<ul>
  <li><a class="no-pjax" href="{% url 'posts:index' %}">Index</a></li>
  <li><a class="no-pjax" href="{% url 'posts:detail' %}">Detail</a></li>

  <li><a class="no-pjax" href="{% url 'posts:test' %}">Test</a></li>
</ul>